# Merge all data into giant df

In [35]:
import pandas as pd
import numpy as np

In [36]:
sales = pd.read_csv('./input/cleanedmonthly.csv')
test = pd.read_csv('./input/test.csv')

In [37]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1104644 entries, 0 to 1104643
Data columns (total 7 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   year                  1104644 non-null  int64
 1   month                 1104644 non-null  int64
 2   shop_id               1104644 non-null  int64
 3   item_id               1104644 non-null  int64
 4   date_block_num        1104644 non-null  int64
 5   item_cnt_month        1104644 non-null  float64
 6   median_monthly_price  1104644 non-null  float64
dtypes: float64(2), int64(5)
memory usage: 59.0 MB

In [38]:
sales

,year,month,shop_id,item_id,date_block_num,item_cnt_month,median_monthly_price
0,2013,1,2,33,0,1.0,499.0
1,2013,1,2,481,0,1.0,330.0
2,2013,1,2,482,0,1.0,3300.0
3,2013,1,2,484,0,2.0,300.0
4,2013,1,2,491,0,1.0,600.0
...,...,...,...,...,...,...,...
1104639,2015,10,59,22087,33,6.0,119.0
1104640,2015,10,59,22088,33,2.0,119.0
1104641,2015,10,59,22091,33,1.0,179.0
1104642,2015,10,59,22100,33,1.0,629.0
1104643,2015,10,59,22102,33,1.0,1250.0

In [39]:
items_train = sales['item_id'].unique().tolist()
items_test = test['item_id'].unique().tolist()

In [40]:
len(items_test), len(items_train)

(5100, 12302)

### items_only in test

In [41]:
items_only_test = []
for item in items_test:
    if item not in items_train:
        items_only_test.append(item)
len(items_only_test)

384

In [42]:
items = items_train + items_only_test
len(items)

12686

In [43]:
shops = sales['shop_id'].unique().tolist()
len(shops)

42

In [44]:
s = []
i = []
for shop in shops:
        s = [*s, *(np.ones(len(items))*shop)]
        i = [*i, *(np.ones(1)*items)]
s = np.array(s).astype(np.int8)
i = np.array(i).astype(np.int16)

In [45]:
len(s), len(i)

(532812, 532812)

In [46]:
date_block_nums = range(35)
x = []
for date_block in date_block_nums:
    temp = pd.DataFrame({'shop_id': s , 'item_id': i})
    temp['date_block_num'] = date_block
    temp['month'] =  1 + date_block%12
    temp['year'] = 2013 + date_block//12
    x.append(temp)
df = pd.concat(x, ignore_index=True)

In [47]:
df.sort_values(['shop_id', 'item_id', 'date_block_num'], inplace=True, ignore_index=True)

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18648420 entries, 0 to 18648419
Data columns (total 5 columns):
 #   Column          Dtype
---  ------          -----
 0   shop_id         int8
 1   item_id         int16
 2   date_block_num  int64
 3   month           int64
 4   year            int64
dtypes: int16(1), int64(3), int8(1)
memory usage: 480.2 MB

In [49]:
df

          shop_id  item_id  date_block_num  month  year
0               2        1               0      1  2013
1               2        1               1      2  2013
2               2        1               2      3  2013
3               2        1               3      4  2013
4               2        1               4      5  2013
...           ...      ...             ...    ...   ...
18648415       59    22167              30      7  2015
18648416       59    22167              31      8  2015
18648417       59    22167              32      9  2015
18648418       59    22167              33     10  2015
18648419       59    22167              34     11  2015

[18648420 rows x 5 columns]

In [50]:
df.to_csv('./input/basestructuredf.csv', index=False)

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18648420 entries, 0 to 18648419
Data columns (total 5 columns):
 #   Column          Dtype
---  ------          -----
 0   shop_id         int8
 1   item_id         int16
 2   date_block_num  int64
 3   month           int64
 4   year            int64
dtypes: int16(1), int64(3), int8(1)
memory usage: 480.2 MB