In [24]:
import pandas as pd
import numpy as np
from sklearn.decomposition import NMF

In [3]:
sales = pd.read_feather('./input/temp/cons_stage1.ftr')

In [13]:
sales = sales.groupby(['shop_id', 'item_id']).item_cnt_month.mean().reset_index()

In [14]:
sales.rename(columns={'item_cnt_month': 'avg_item_cnt_month'}, inplace=True)

## For training dont use date block 33

In [5]:
sale_wo_db_33 = sales.loc[sales.date_block_num<33].copy()

In [9]:
sale_wo_db_33 = sale_wo_db_33.groupby(['shop_id', 'item_id']).item_cnt_month.mean().reset_index()

In [11]:
sale_wo_db_33.rename(columns={'item_cnt_month': 'avg_item_cnt_month'}, inplace=True)

In [12]:
sale_wo_db_33

        shop_id  item_id  avg_item_cnt_month
0             2        1            0.000000
1             2       26            0.000000
2             2       30            0.121212
3             2       31            0.212121
4             2       32            0.333333
...         ...      ...                 ...
532807       59    22162            0.484848
532808       59    22163            0.000000
532809       59    22164            0.181818
532810       59    22166            0.000000
532811       59    22167            0.121212

[532812 rows x 3 columns]

In [15]:
matrix = sale_wo_db_33.pivot(index='shop_id', columns='item_id', values='avg_item_cnt_month', )

In [28]:
shops = matrix.index

In [20]:
matrix.isnull().any().value_counts()

False    12686
dtype: int64

In [21]:
array = matrix.to_numpy()

In [22]:
array.shape

(42, 12686)

In [25]:
model = NMF(n_components=10, random_state=1, max_iter=5000)

In [26]:
W1 = model.fit_transform(array)
H1 = model.components_

In [27]:
W1.shape, H1.shape

((42, 10), (10, 12686))

In [30]:
shop_embedding_cols = [f'se_{o+1}' for o in range(W1.shape[1])]

In [32]:
shop_embeddings = pd.DataFrame(W1, index=shops, columns=shop_embedding_cols)

In [36]:
shop_embeddings = shop_embeddings.reset_index().astype('float32')

In [37]:
shop_embeddings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42 entries, 0 to 41
Data columns (total 12 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   index    42 non-null     float32
 1   shop_id  42 non-null     float32
 2   se_1     42 non-null     float32
 3   se_2     42 non-null     float32
 4   se_3     42 non-null     float32
 5   se_4     42 non-null     float32
 6   se_5     42 non-null     float32
 7   se_6     42 non-null     float32
 8   se_7     42 non-null     float32
 9   se_8     42 non-null     float32
 10  se_9     42 non-null     float32
 11  se_10    42 non-null     float32
dtypes: float32(12)
memory usage: 2.1 KB

In [38]:
shop_embeddings.to_feather('./input/shop_embeddings.ftr')

In [15]:
matrix = sale_wo_db_33.pivot(index='shop_id', columns='item_id', values='avg_item_cnt_month', )

In [28]:
shops = matrix.index

In [20]:
matrix.isnull().any().value_counts()

False    12686
dtype: int64

In [21]:
array = matrix.to_numpy()

In [22]:
array.shape

(42, 12686)

In [25]:
model = NMF(n_components=10, random_state=1, max_iter=5000)

In [26]:
W1 = model.fit_transform(array)
H1 = model.components_

In [27]:
W1.shape, H1.shape

((42, 10), (10, 12686))

In [30]:
shop_embedding_cols = [f'se_{o+1}' for o in range(W1.shape[1])]

In [32]:
shop_embeddings = pd.DataFrame(W1, index=shops, columns=shop_embedding_cols)

In [36]:
shop_embeddings = shop_embeddings.reset_index().astype('float32')

In [37]:
shop_embeddings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42 entries, 0 to 41
Data columns (total 12 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   index    42 non-null     float32
 1   shop_id  42 non-null     float32
 2   se_1     42 non-null     float32
 3   se_2     42 non-null     float32
 4   se_3     42 non-null     float32
 5   se_4     42 non-null     float32
 6   se_5     42 non-null     float32
 7   se_6     42 non-null     float32
 8   se_7     42 non-null     float32
 9   se_8     42 non-null     float32
 10  se_9     42 non-null     float32
 11  se_10    42 non-null     float32
dtypes: float32(12)
memory usage: 2.1 KB

In [38]:
shop_embeddings.to_feather('./input/shop_embeddings.ftr')

In [15]:
matrix = sale_wo_db_33.pivot(index='shop_id', columns='item_id', values='avg_item_cnt_month', )

In [28]:
shops = matrix.index

In [20]:
matrix.isnull().any().value_counts()

False    12686
dtype: int64

In [21]:
array = matrix.to_numpy()

In [22]:
array.shape

(42, 12686)

In [25]:
model = NMF(n_components=10, random_state=1, max_iter=5000)

In [26]:
W1 = model.fit_transform(array)
H1 = model.components_

In [27]:
W1.shape, H1.shape

((42, 10), (10, 12686))

In [30]:
shop_embedding_cols = [f'se_{o+1}' for o in range(W1.shape[1])]

In [32]:
shop_embeddings = pd.DataFrame(W1, index=shops, columns=shop_embedding_cols)

In [36]:
shop_embeddings = shop_embeddings.reset_index().astype('float32')

In [37]:
shop_embeddings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42 entries, 0 to 41
Data columns (total 12 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   index    42 non-null     float32
 1   shop_id  42 non-null     float32
 2   se_1     42 non-null     float32
 3   se_2     42 non-null     float32
 4   se_3     42 non-null     float32
 5   se_4     42 non-null     float32
 6   se_5     42 non-null     float32
 7   se_6     42 non-null     float32
 8   se_7     42 non-null     float32
 9   se_8     42 non-null     float32
 10  se_9     42 non-null     float32
 11  se_10    42 non-null     float32
dtypes: float32(12)
memory usage: 2.1 KB

In [38]:
shop_embeddings.to_feather('./input/shop_embeddings.ftr')

In [39]:
matrix = sale_wo_db_33.pivot(index='item_id', columns='shop_id', values='avg_item_cnt_month', )

In [40]:
items = matrix.index

In [41]:
matrix.isnull().any().value_counts()

False    42
dtype: int64

In [42]:
array = matrix.to_numpy()

In [43]:
array.shape

(12686, 42)

In [44]:
model = NMF(n_components=10, random_state=1, max_iter=5000)

In [45]:
W1 = model.fit_transform(array)
H1 = model.components_

In [46]:
W1.shape, H1.shape

((12686, 10), (10, 42))

In [52]:
items_embedding_cols = [f'ie_{o+1}' for o in range(W1.shape[1])]

In [53]:
items_embeddings = pd.DataFrame(W1, index=items, columns=items_embedding_cols)

In [54]:
items_embeddings = items_embeddings.reset_index().astype('float32')

In [55]:
items_embeddings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12686 entries, 0 to 12685
Data columns (total 11 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   item_id  12686 non-null  float32
 1   ie_1     12686 non-null  float32
 2   ie_2     12686 non-null  float32
 3   ie_3     12686 non-null  float32
 4   ie_4     12686 non-null  float32
 5   ie_5     12686 non-null  float32
 6   ie_6     12686 non-null  float32
 7   ie_7     12686 non-null  float32
 8   ie_8     12686 non-null  float32
 9   ie_9     12686 non-null  float32
 10  ie_10    12686 non-null  float32
dtypes: float32(11)
memory usage: 545.2 KB

In [58]:
items_embeddings.to_feather('./input/items_embeddings.ftr')